<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Ordering</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>
<body>
    <div class="container">
        <h1>Order Fuel from Petrol Pump</h1>
        <form method="POST">

            {% for c in x %}
            <div class="form-group">
                <h2 for="pump-name">Pump Name</h2>
                <input type="text" id="pump-name" value="{{c.2}}"  name="pump-name" required readonly>
            </div>
            <div class="form-group">
                <h2 for="pump-name">Pump Location</h2>
                <input type="text" id="location" value="{{c.5}}" name="location" required readonly>
            </div>

            <div class="form-group">
                <label for="fuel-type">Select Fuel Type:</label>
                <select id="fuel-type" name="fuel-type" required>
                    <option value="petrol">Petrol</option>
                    <option value="diesel">Diesel</option>
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity (Liters):</label>
                <input type="number" id="quantity" name="quantity" min="1" required>
            </div>
            <div class="form-group">
                <label>Price:</label>
                <span id="petrol-price" class="price-tag">$2.50 / liter</span>
                <span id="diesel-price" class="price-tag">$2.00 / liter</span>
            </div>
            <button type="submit" class="submit-btn">Place Order</button>
{% endfor %}
        </form>
    </div>
</body>
</html>
