  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-size: cover;
      background-position: center;
    }

    .profile-container {
      max-width: 400px;
      margin: 50px auto;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-picture {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 20px;
      border: 3px solid #fff; /* Customize the border color */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .profile-info {
      text-align: center;
    }

    .profile-info h2,
    .profile-info p {
      margin: 5px 0;
    }

    .file-input {
      margin: 10px auto;
      text-align: center;
    }

    .file-input input[type="file"] {
      display: none;
    }

    .file-input label {
      padding: 10px 15px;
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }

    .delete-button {
      background-color: #dc3545;
    }

    .delete-button:hover {
      background-color: #c82333;
    }
