.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white; /* Text color */
}

.fuel-bunk {
    margin-bottom: 20px;
}

.bunk-image {
    width: 200px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow */
}

h1 {
    margin-top: 0;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Input field and label styling */
label {
    display: block;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
