<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/userbunkview.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Fuel Bunk Views</title>
</head>
<body>

    <div class="container">
        <h1>Fuel Bunk Views</h1>
        {% for c in x %}
        <div class="services-1">
            <h2>Name:{{c.2}}</h2>
            <p>Location:{{c.5}}</p>
       <a href="/booking?bunkid={{c.o}}">
  <button type="button" class="btn btn-primary py-3 px-5">Order Now</button>
</a>

        </div>
{% endfor %}
    </div>

</body>
</html>
